In [1]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

original_list = sorted(original_list, key=lambda i: 0 if i == 0 else -i/1)
print(original_list)

[12, 10, 8, 6, 4, 2, -1, -3, -5, -7, -9, -11]

In [21]:
import pandas as pd
import numpy as np



data_df= pd.read_csv('JEOPARDY_DATA.csv')

data_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [27]:
data_df.columns = data_df.str.replace(" ","")

AttributeError: 'DataFrame' object has no attribute 'str'

In [24]:
data_df["Value"]=data_df["Value"].str.replace("$","").str.replace (",","")
data_df =pd.get_dummies(data_df, columns=['Round'])

data_df['Value']=data_df['Value'].astype(float)
data_df

KeyError: 'Value'