In [321]:
#Quiz
loans_df['Outcome'] = loans_df['loan_status_Fully Paid']
columns =['Outcome','debt_to_income', 'interest_rate']
def eliminating_null_values(column):
    lonas_df = loans_df.dropna(subset=[column])

model_df = loans_df[columns]
model_df.head()

   Outcome  debt_to_income  interest_rate
0    False           18.01          14.07
1    False            5.04          12.61
2    False           21.15          17.09
3    False           10.16           6.72
4    False           57.96          14.07

In [351]:
model_df = model_df.dropna(subset=['debt_to_income'])
model_df = model_df.dropna(subset=['interest_rate'])

X =  model_df.drop('Outcome', axis=1)
y = model_df['Outcome']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state=32, stratify = y)


sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

model = LogisticRegression(random_state=32).fit(X_train, y_train)
y_predicted = model.predict(X_test)

In [352]:
y_predicted

array([False, False, False, ..., False, False, False])

In [353]:
model.score(X_test,y_test)

0.9554108216432866